@{
    ViewData["Title"] = "Rent-A-Car";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        body {
            background-color: #3AAFA9;
        }
    </style>
</head>

<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Rent-A-Car</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Customer Reports</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Customer Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div class="intro-info">
                <h1>Need to Rent-A-Car?</h1>
                <p>Fill out the info below:</p>
            </div>
            <section class="search-section">
                <div class="form-checkbox-container">
                    <div class="container-with-border">
                        <div class="form-checkbox-content">
                            <div class="form-container">
                                <form>
                                    <label for="name"></label><br>
                                    <input type="text" id="name" name="name" placeholder="Name"><br>
                                    <label for="start-date">Start:</label><br>
                                    <input type="date" id="start-date" name="start-date" placeholder="Start Date"><br>
                                    <label for="phone-number"></label><br>
                                    <input type="tel" id="phone-number" name="phone-number" placeholder="Phone number"><br>
                                    <label for="end-date">End:</label><br>
                                    <input type="date" id="end-date" name="end-date" placeholder="End Date"><br>
                                    <button type="submit" id="search-button">Search Inventory</button>
                                </form>
                            </div>
                            <div class="checkbox-container">
                                <label class="VehicleChoice" for="vehicle" style="font-size: medium;">What Vehicle are you looking for?</label><br>
                                <input type="checkbox" id="car-checkbox" name="car-checkbox">
                                <label for="car-checkbox">Car</label><br>
                                <input type="checkbox" id="truck-checkbox" name="truck-checkbox">
                                <label for="truck-checkbox">Truck</label><br>
                                <input type="checkbox" id="van-checkbox" name="van-checkbox">
                                <label for="van-checkbox">Van</label><br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="why-choose-us">
                <div class="header-box">
                    <h2>Why choose us?</h2>
                </div>
                <div class="reasons-container">
                    <div class="reason">
                        <h3>Instant Personality Boost</h3>
                        <p>Our cars are so stylish and sleek, they'll make you feel like a celebrity, even if it's just for a day!</p>
                    </div>
                    <div class="reason">
                        <h3>Escape the Mundane</h3>
                        <p>Renting our cars is like taking a mini-vacation from your everyday ride. Why settle for boring when you can ride in style?</p>
                    </div>
                    <div class="reason">
                        <h3>Smooth Sailing</h3>
                        <p>With our easy online booking and top-notch customer service, renting from us is as smooth as a joyride on a sunny day</p>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <footer>
        <p>© 2023 Rent-A-Car. All rights reserved.</p>
        <div class="footer-links">
            <p><a href="#">- Reports</a></p>
            <p><a href="#">- Customer Reports</a></p>
            <p><a href="#">- Login</a></p>
            <p><a href="#">- Customer Login</a></p>
        </div>
    </footer>
</body>

</html>
